# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Functional decomposition/Decompose a math function/out/
/Topics/Functional decomposition/Decompose a math function/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/Symmetric matrix/out/
/Topics/Multidimensional array/Symmetric matrix/out/production/classes/
/Topics/NPE/Avoid NPE/out/
/Topics/NPE/Avoid NPE/out/production/classes/
/Topics/NPE/Avoid NPE with strings/out/
/Topics/NPE/Avoid NPE with strings/out/production/classes/